@keyframes Heartbeat {
    from{
        transform: scale(1)
    }
    24%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.15);
    }
    35%{
        transform: scale(1);
    }
    36%{
        transform: scale(1.15);
    }
    46%{
        transform: scale(1);
    }
    to{
        transform: scale(1);
    }
}
@keyframes StimmingCup{
    from{
        transform: rotate(0deg);
    }
    5%{
        transform: rotate(5deg);
    }
    10%{
        transform: rotate(0deg);
    }
    15%{
        transform: rotate(-5deg);
    }
    20%{
        transform: rotate(0deg);
    }
}
@keyframes SneakerJump {
    from{
        transform: scale(1.1);
    }
    10%{
        transform: translateY(-90px) scale(0.85) rotateY(180deg);
    }
    20%{
        transform: translateY(35px) scale(1.32) rotateY(-180deg);
    }
    25%{
        transform: translateX(none) scale(1);
    }
}