.advantage{
    min-height: 473px;
    padding: 73px 0 65px 0;
    background-color: #f6f6f6;
    &__icons{
        margin-top: 65px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    &__icon{
        width: 277px;
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #0D0D0D;
    }
    &__title{
        margin-top: 30px;
        display: block;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        text-align: center;
        color: #0D0D0D;
    }
    &__descr{
        display: inline-block;
        margin-top: 20px;
    }
    &__href{
        font-family: 'MuseoModerno';
        font-weight: 300;
        font-size: 13px;
        color: #FF0000;
        &:hover{
            text-decoration: underline;
            color: #FF0000;
        }
    }
    &__item{
        transition: all .25s;
        &:hover{
                    animation-play-state: paused;
        }
        &_animated{
            &-cup{
                animation: StimmingCup 1.25s linear infinite;
            }
            &-heart{
                animation: Heartbeat 1.25s ease infinite;
            }
            &-shoe{
                animation: SneakerJump 3s ease infinite;
            }
        }
    }
}
.d-visible{
    display: flex;
}
.d-hidden{
    display: none;
}