@import '../base/variables';
*{
    font-family: 'Museo Sans Cyrl', sans-serif;
    cursor: default;
    &::selection{
        background: rgb(210, 3, 3);
        color: white;
    }
    img{
        user-select: none;
    }
    ::-webkit-scrollbar {
        width: 17px;
        background: #ececec;
    }

    ::-webkit-scrollbar-thumb {
        background: $mc;
        box-shadow: inset 0 0 0 2px #ececec;
    }
}
.container{
    max-width: 950px;
    margin: 0 auto;
}
@import '../blocks/header';
@import '../blocks/promo';
@import '../blocks/advantage';
@import '../blocks/consultation';
@import '../blocks/forms';
@import '../blocks/buttons';
@import '../blocks/titles';
@import '../blocks/carousel';
@import '../blocks/catalog';
@import '../blocks/reviews';
@import '../blocks/map';
@import '../blocks/modal';
@import '../blocks/media';